.App {
  width: 100vw;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto 100px;
  /* border: solid 2px red; */
}
/* .App > * { */
/*   border: solid 2px blue !important; */
/* } */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
